html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
#root {
  background-color: $app-background-colour;
  font-family: $roboto;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
ul,
ol,
li,
code,
kbd,
blockquote {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    outline: none;
  }
}

button {
  box-shadow: none !important;
  outline: none;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    outline: none;
  }
}
